body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
}
body.dark {
  background: #121212;
  color: white;
}

nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

a {
  color: #0077cc;
}

h1, h2 {
  color: #222;
}
